@media (max-width: 1000px) {
  nav {
    padding-right: 2rem;
  }
  .blob {
    left: 0rem;
  }
  .wrap {
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    /* max-width: 380px; */
  }
  .about-par {
    /* white-space: nowrap; */
    line-break: auto;
  }

  .about-par br {
    /* display: none; */
  }
}

@media (max-width: 751px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 900px) {
  .effectHeader {
    font-size: 4rem;
  }
  .effectTxt {
    font-size: 4rem;
  }
  .headerModal {
    margin-top: 11.9rem;
  }
  .header-row {
    padding-left: 6rem;
  }
  .subHeader {
    padding-left: 6rem;
  }
}
@media (max-width: 750px) {
  nav {
    padding-right: 2rem;
    background-color: rgba(27, 7, 7, 0.8);
    z-index: 500;
  }
  .nav-rightblock {
    flex-direction: column;
    left: -100%;
    display: none;
    font-size: 20px;
  }

  .hamburger {
    display: flex;
  }
  .effectHeader {
    font-size: 3rem;
  }
  .effectTxt {
    font-size: 3rem;
    padding: 0;
  }
  .headerModal {
    margin-top: 12.4rem;
  }
  .header-row {
    padding-left: 11.2rem;
  }
  .subHeader {
    padding-left: 11.2rem;
    font-size: 20px;
    margin-top: 0.5rem;
  }
  .header-row {
    gap: 0.5rem;
  }
}

@media (max-width: 580px) {
  .header-row {
    flex-direction: column;
    padding-left: 17rem;
  }
  .subHeader {
    padding-left: 17rem;
  }
  .effectTxt {
    top: 3rem;
  }

  .header-div2 {
    top: -3rem;
    height: 62.5px;
  }
  .headerModal {
    margin-top: 5rem;
  }
  header {
    width: 150vw;
    left: -50vw;
  }
  nav {
    right: 0;
  }
  .headerOverlay {
    right: 0;
  }
}

@media (max-width: 480px) {
  .header-row {
    flex-direction: column;
    padding-left: 19rem;
  }
  .subHeader {
    padding-left: 19rem;
  }
}
