@media (max-width: 1000px) {
  nav {
    padding-right: 2rem;
  }
}
@media (max-width: 750px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 750px) {
  nav {
    padding-right: 2rem;
  }
  .nav-rightblock {
    flex-direction: column;
    left: -100%;
    display: none;
    font-size: 20px;
  }

  .hamburger {
    display: flex;
  }
}
